body.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
} 

body.dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

@media (max-width: 760px) and (orientation:portrait) {

}


@media (max-width: 760px) and (orientation:landscape) { 

}